# Security Settings
Options -Indexes
DirectoryIndex index.php

# Deny access to sensitive files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protect includes
<Directory "includes">
    Order allow,deny
    Deny from all
</Directory>
